{% load static %}

<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <nav class="molecule-header uk-background-default uk-box-shadow uk-box-shadow-small" uk-navbar>
        <div class="uk-navbar-left">
            <a href="{% url 'articles:article_list' %}" class="logo-text uk-navbar-item uk-logo">
                <img class="logo-text" src="{% static 'img/molecule-logo.svg' %}" alt="molecule logo" width="120" uk-svg>
                Molecule
            </a>
            <ul class="uk-navbar-nav">
                <li>
                    <div class="uk-text-meta">Keep it Simple, Everything is an Atom.</div>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                {% if user.is_authenticated %}
                    <li>
                        <a href="#">{{ user.username }}</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li>
                                    <a class="uk-text-uppercase" href="{% url 'admin:index' %}">
                                        <span>
                                            <i class="fas fa-user-cog"></i>
                                        </span>
                                        to admin
                                    </a>
                                </li>
                                <li>
                                    <a class="uk-text-uppercase" href="{% url 'articles:article_new' %}">
                                        <span>
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        new article
                                    </a>
                                </li>
                                {% if maintenance_mode %}
                                    <li>
                                        <a class="uk-text-uppercase" href="{% url 'maintenance_mode_off' %}">
                                            <span>
                                                <i class="fas fa-wrench"></i>
                                            </span>
                                            off
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a class="uk-text-uppercase" href="{% url 'maintenance_mode_on' %}">
                                            <span>
                                                <i class="fas fa-wrench"></i>
                                            </span>
                                            on
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li>
                        <a href="https://joshua-hashimoto.github.io/">About</a>
                    </li>
                {% endif %}
            </ul>
            <div class="uk-text-meta uk-padding">© Joshua Hashimoto. 2020</div>
        </div>
    </nav>
</div>
