{% load static %}

<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <nav class="molecule-header uk-background-default uk-box-shadow uk-box-shadow-small" uk-navbar>
        <div class="uk-navbar-left">
            <a href="{% url 'articles:article_list' %}" class="logo-text uk-navbar-item uk-logo">
                <img class="logo-text" src="{% static 'img/molecule-logo.svg' %}" alt="molecule logo" width="120" uk-svg>
                Molecule
            </a>
            <ul class="uk-navbar-nav">
                <li>
                    <div class="uk-text-meta">Keep it Simple, Everything is an Atom.</div>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            {% if user.is_authenticated %}
                <a href="{% url 'articles:article_new' %}" class="add-icon-button uk-icon-button" uk-icon="plus"></a>
            {% else %}
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="https://joshua-hashimoto.github.io/">About</a>
                    </li>
                </ul>
            {% endif %}
            <div class="uk-text-meta uk-padding">© Joshua Hashimoto. 2020</div>
        </div>
    </nav>
</div>
