{% load widget_tweaks %}

<div id="base-form">
    <div class="article-media">
        <div class="uk-padding uk-padding-remove-bottom uk-padding-remove-horizontal">
            <div>
                <h4>Cover</h4>
                {{ form.cover }}
            </div>
        </div>
        <div class="uk-padding uk-padding-remove-bottom uk-padding-remove-horizontal">
            <div>
                <h4>Video</h4>
                {{ form.video }}
            </div>
        </div>
    </div>

    <div class="article-texts">
        <div class="uk-padding uk-padding-remove-bottom uk-padding-remove-horizontal">
            <h4>Title</h4>
            {{ form.title | add_class:'uk-input' }}
        </div>
        <div class="uk-padding uk-padding-remove-bottom uk-padding-remove-horizontal">
            <h4>Description</h4>
            {{ form.description | add_class:'uk-textarea' }}
        </div>
        <div class="uk-padding uk-padding-remove-bottom uk-padding-remove-horizontal">
            <h4>Content</h4>
            {{ form.content }}
        </div>
    </div>

    <div class="article-relations">
        <div>
            <h4>Tags</h4>
            <div class="uk-margin">
                <div class="uk-search uk-search-default">
                    <span uk-search-icon></span>
                    <input
                        id="tag-filter-input"
                        class="uk-search-input"
                        type="search"
                        placeholder="Search Tags..."
                        onkeyup="filterTags()"
                    >
                </div>
            </div>
            <ul id="tag-list" class="uk-list uk-height-small uk-overflow-hidden uk-overflow-auto">
                {% for tag in form.tags %}
                    <li>
                        <div>
                            {{ tag.tag }}
                            <label
                                class="uk-text-truncate"
                                for="{{ tag.id_for_label }}">
                                {{ tag.choice_label }}
                            </label>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h4>Related Articles</h4>
            <div class="uk-margin">
                <div class="uk-search uk-search-default">
                    <span uk-search-icon></span>
                    <input
                        id="related-article-filter-input"
                        class="uk-search-input"
                        type="search"
                        placeholder="Search Articles..."
                        onkeyup="filterRelatedArticles()"
                    >
                </div>
            </div>
            <ul id="related-article-list" class="uk-list uk-height-small uk-overflow-hidden uk-overflow-auto">
                {% for related in form.related_articles %}
                    <li>
                        <div>
                            {{ related.tag }}
                            <label
                                for="{{ related.id_for_label }}">
                                {{ related.choice_label }}
                            </label>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="article-meta-info">
        <div class="uk-padding uk-padding-remove-bottom uk-padding-remove-horizontal">
            <h4>Keywords</h4>
            {{ form.keywords | add_class:'uk-input' }}
        </div>
        <div class="uk-padding uk-padding-remove-bottom uk-padding-remove-horizontal">
            <h4>Publish At</h4>
            {{ form.publish_at | add_class:'uk-input wkDateTime' }}
        </div>
    </div>
</div>