{% extends '_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block keywords %}
{{ article.keywords }}
{% endblock keywords %}


{% block style %}
<link rel="stylesheet" href="{% static 'css/article_form.css' %}">
<link rel="stylesheet" href="{% static 'css/markdown.css' %}">
{% endblock style %}


{% block title %}
{{ block.super }}
{% endblock title %}


{% block content %}
<div class="uk-container-small uk-align-center uk-padding">
    <div class="article-new-container">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% include 'articles/article_base_form.html' %}

            <div class="uk-flex uk-flex-around uk-padding">
                <a href="{% url 'articles:article_list' %}" class="uk-button uk-button-danger">cancel</a>
                <button class="uk-button main-theme" type="submit" >save</button>
            </div>
        </form>
    </div>
</div>

<div id="tag-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <form id="tag-ajax-new" method="post" action="{% url 'tags:tag_ajax_new' %}">
            {% csrf_token %}
            <h4 class="uk-modal-title">Add New Tag</h4>
            <div class="uk-margin">
                <input class="uk-input" type="text" name="new_tag" id="new_tag" required>
            </div>
            <div class="uk-flex uk-flex-between">
                <button class="uk-button uk-button-danger uk-modal-close" type="button">Cancel</button>
                <button class="uk-button main-theme" type="submit">New Tag</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}


{% block js %}
<script src="{% static 'js/filterTags.js' %}"></script>
<script src="{% static 'js/filterRelatedArticles.js' %}"></script>
<script>
const getCookie = (str) =>{
    if (document.cookie && document.cookie !== '') {
        for (const cookie of document.cookie.split(';')){
            const [key, value] = cookie.trim().split('=');
            if(key === str) {
                return decodeURIComponent(value);
            }
        }
    }
};

const csrfTokenStr = 'csrftoken';
const csrfToken = getCookie(csrfTokenStr);

const csrfSafeMethod = (method) => {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: (xhr, settings) => {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrfToken);
        }
    }
});

$('#tag-ajax-new').on('submit', event => {
    // prevent default page change event
    event.preventDefault();


    $.ajax({
        'url': '{% url "tags:tag_ajax_new" %}',
        'type': 'POST',
        'data': {
            'tag_name': $('#new_tag').val(),  // tag name
        },
        'dataType': 'json'
    }).done(response => {
        // get tag list
        const tagListElement = $('#tag-list');
        const tagLiCount = tagListElement.children().length;
        // create new tag element
        const li = $('<li>');
        const tagInput = $('<input>').attr({
            type: 'checkbox',
            name: 'tags',
            value: response.id,
            id: `id_tags_${tagLiCount}`,
        }).prop('checked', true);
        const tagLabel = $('<label>', {
            class: 'uk-text-truncate',
            text: `${response.name}`,
            for: `id_tags_${tagLiCount}`,
        });
        const liInnerDiv = $('<div/>').append(tagInput).append(tagLabel);
        li.append(liInnerDiv);
        // append new tag element to tag list
        tagListElement.append(li);
        $('#new_tag').val('');
        // close modal
        const modalElement = $('#tag-modal');
        UIkit.modal(modalElement).hide();
    });
});
</script>
{% endblock js %}
