{% load static %}
{% load humanize %}
{% load is_not_published %}
{% load is_not_written %}

<li class="article-accordion uk-box-shadow-small">
    <a class="uk-accordion-title uk-box-shadow-hover-small">
        <div>
            <div class="uk-flex uk-flex-between">
                <span class="uk-h4 open-text">{{ article.title }}</span>
                {% if article|is_not_written %}
                    <div class="uk-badge uk-label badge-background">未完成</div>
                {% elif article|is_not_published %}
                    <div class="uk-badge uk-label badge-background">未公開</div>
                {% else %}
                    <time class="uk-text-meta open-text" datetime="{{ article.publish_at | date:'Y-m-d' }}">
                        {{ article.publish_at | naturalday }}
                    </time>
                {% endif %}
            </div>
            <div class="uk-text-meta">{{ article.description }}</div>
        </div>
    </a>
    <div class="uk-accordion-content">
        <div class="uk-flex uk-flex-right">
            <a class="to-detail-link uk-link-muted" href="{{ article.get_absolute_url }}">
                Detail
                <span uk-icon="arrow-right"></span>
            </a>
        </div>
        <div class="uk-padding">
            {% include 'articles/article_detail_content.html' with article=article %}
        </div>
    </div>
</li>
