{% extends '_base.html' %}
{% load static %}
{% load humanize %}


{% block keywords %}
{{ article.keywords }}
{% endblock keywords %}


{% block style %}
<link rel="stylesheet" href="{% static 'css/article_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/markdown.css' %}">
{% endblock style %}


{% block title %}
{{ article.title }} | {{ block.super }}
{% endblock title %}


{% block content %}
<div class="uk-container-small uk-align-center uk-padding">
    <div class="uk-width-expand uk-flex uk-flex-between">
        <a class="uk-link-muted" href="{% url 'articles:article_list' %}">TO TOP</a>
        <time class="uk-text-meta open-text" datetime="{{ article.publish_at | date:'Y-m-d' }}">
            {{ article.publish_at | naturalday }}
        </time>
    </div>

    {% if user.is_authenticated %}
        <div class="uk-flex uk-flex-around uk-padding">
            <a href="{% url 'articles:article_edit' slug=article.slug %}" class="uk-button main-theme">edit</a>
            {% include 'articles/article_delete_modal.html' with article=article %}
        </div>
    {% endif %}
    <div class="uk-margin">
        <h2>{{ article.title }}</h2>
    </div>
    {% include 'articles/article_detail_content.html' with article=article %}

    <section class="uk-section">
        <h4>関連記事</h4>
        <hr>
        <uk class="uk-list">
            {% for related_article in article.related_articles.published %}
                <li>
                    <h5 class="uk-heading-bullet">
                        <a class="uk-link-heading" href="{{ related_article.get_absolute_url }}">
                            {{ related_article.title }}
                        </a>
                    </h5>
                </li>
            {% endfor %}
        </uk>
    </section>

    <section class="uk-section">
        <h4>コメント</h4>
        <hr>
        {% include 'comments/comment_modal.html' with form=comment_form article=article %}
        <ul class="uk-comment-list">
            {% for comment in article.comments.all %}
                {% include 'comments/comment_cell.html' with comment=comment %}
            {% endfor %}
        </ul>
    </section>

    <div class="to-top">
        <a href="#" class="uk-icon-button sub-theme" uk-totop uk-scroll></a>
    </div>

</div>
{% endblock content %}


{% block js %}
{% endblock js %}