.uk-accordion-title {
  padding: 5px 12px;
}

.uk-accordion-title::before {
  display: none;
}

.uk-open .uk-accordion-title .open-text {
  border-color: var(--main-theme);
  color: var(--main-theme);
}

.to-detail-link {
  padding: 5px 12px;
  font-size: 17px;
}

.badge-background {
  background: #8fc0a9;
}
